@model NSG.Identity.ApplicationRole
@{
    ViewBag.Title = "Delete";
    // ViewBag.Users = Model.Users;
}

<h2>Role (Delete)</h2>
<p>Deleting this Role will remove all users from this role. It will not delete the users.</p>
<div>
    <hr />
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="form-actions no-color">
            <div class="nsg-float-left text-left">
                <span>
                    @Html.ActionLink("Back to List", "Index")
                </span>
            </div>
            <div class="nsg-float-right text-right">
                <span>
                    <strong>Are you sure you want to delete this Role?</strong>
                    <input type="submit" value="Delete" class="btn btn-danger" />
                </span>
            </div>
            <div class="nsg-clear-both"></div>
        </div>
    }
</div>
@Html.Partial("./RolesDetailPartial", Model)
