<div class="form-horizontal">
    <div class="nsg-container">
        <label for="IncidentId" class="col-md-3 nsg-label">IncidentId</label>
        <div id="IncidentId" class="col-md-5">'Id' from Incident</div>
    </div>
    <div class="nsg-container">
        <label for="AbuseEmailAddress" class="col-md-3 nsg-label">AbuseEmailAddress</label>
        <div id="AbuseEmailAddress" class="col-md-5">'Abuse Email' from Incident</div>
    </div>
    <div class="nsg-container">
        <label for="IPAddress" class="col-md-3 nsg-label">IPAddress</label>
        <div id="IPAddress" class="col-md-5">'IP Address' from Incident</div>
    </div>
    <div class="nsg-container">
        <label for="IncidentTypeShortDesc" class="col-md-3 nsg-label">IncidentTypeShortDesc</label>
        <div id="IncidentTypeShortDesc" class="col-md-5">'Incident Type Short Description' from Template</div>
    </div>
    <div class="nsg-container">
        <label for="IncidentTypeDesc" class="col-md-3 nsg-label">IncidentTypeDesc</label>
        <div id="IncidentTypeDesc" class="col-md-5">'Incident Type Description' from Template</div>
    </div>
    <div class="nsg-container">
        <label for="UserName" class="col-md-3 nsg-label">UserName</label>
        <div id="UserName" class="col-md-5">'User Name' from User</div>
    </div>
    <div class="nsg-container">
        <label for="UserNicName" class="col-md-3 nsg-label">UserNicName</label>
        <div id="UserNicName" class="col-md-5">'User Nic Name' from User</div>
    </div>
    <div class="nsg-container">
        <label for="UserEmailAddress" class="col-md-3 nsg-label">UserEmailAddress</label>
        <div id="UserEmailAddress" class="col-md-5">'Email Address' from User</div>
    </div>
    <div class="nsg-container">
        <label for="ServerName" class="col-md-3 nsg-label">ServerName</label>
        <div id="ServerName" class="col-md-5">'Server Name' from Server</div>
    </div>
    <div class="nsg-container">
        <label for="Device" class="col-md-3 nsg-label">Device</label>
        <div id="Device" class="col-md-5">'Device' from Server</div>
    </div>
    <div class="nsg-container">
        <label for="ServerLocation" class="col-md-3 nsg-label">ServerLocation</label>
        <div id="ServerLocation" class="col-md-5">'Server Location' from Server</div>
    </div>
    <div class="nsg-container">
        <label for="FromName" class="col-md-3 nsg-label">FromName</label>
        <div id="FromName" class="col-md-5">'From Name' from Server</div>
    </div>
    <div class="nsg-container">
        <label for="FromNicName" class="col-md-3 nsg-label">FromNicName</label>
        <div id="FromNicName" class="col-md-5">'From Nic Name' from Server</div>
    </div>
    <div class="nsg-container">
        <label for="FromEmailAddress" class="col-md-3 nsg-label">FromEmailAddress</label>
        <div id="FromEmailAddress" class="col-md-5">'From Email Address' from Server</div>
    </div>
</div>

