@{
    ViewBag.Link = "https://github.com/PHuhn?tab=repositories";
}
<div class="jumbotron">
    <h2>Contact Us</h2>
    <div class="row">
        <div class='col-sm-3 text-right'><label for='applicationName'>Application Name: </label></div>
        <div id='applicationName' class='col-sm-9'>Web Service for Network Incident</div>
    </div>
    <div class="row">
        <div class='col-sm-3 text-right'><label for='companyName'>Company Name: </label></div>
        <div id='companyName' class='col-sm-9'>Northern Software Group</div>
    </div>
    <div class="row">
        <div class='col-sm-3 text-right'><label for='contactName'>Contact: </label></div>
        <div id='contactName' class='col-sm-9'>Phil Huhn</div>
    </div>
    <div class="row">
        <div class='col-sm-3 text-right'><label for='contactEmail'>E-mail: </label></div>
        <div id='contactEmail' class='col-sm-9'>PhilHuhn@yahoo.com</div>
    </div>
    <div class="row">
        <div class='col-sm-3 text-right'><label for='githubLink'>Link: </label></div>
        <div id='githubLink' class='col-sm-9'>
            <a target='_blank' href='@ViewBag.Link'>@ViewBag.Link</a>
        </div>
    </div>
</div>
<!--  -->
