<p-dropdown [options]="notetypes" [(ngModel)]="notetype"
			placeholder="Select a type"></p-dropdown>
<p>Note type: {{notetype ? notetype.toString() : 'none'}}</p>
<br />
<button type="text" (click)="showDialog()" pButton icon="pi pi-external-link" label="Show Servers"></button>
<p>Server: {{selected}}</p>
<p></p>
<app-server-selection-window [selectItems]='model'
	[displayWin]='displayServersWindow' (onClose)='onClose($event)'></app-server-selection-window>
<!-- End of testing.component.html -->
