<!-- incident-note-detail-window.component.html -->
<p-dialog id='NoteDetailWindow' name='NoteDetailWindow'
    [(visible)]='displayWin' modal='modal' width='720'
    [responsive]='true' [closeOnEscape]='false' [closable]='false'>
  <p-header  id='NoteDetailWindowHeader' name='NoteDetailWindowHeader'>
    Incident Note Detail: {{id}}
  </p-header>
  <form #form='ngForm' novalidate>
    <div *ngIf='model != undefined' class='nsg-text-left'>
      <div class='ui-grid-row ui-inputgroup' [class.has-error]='NoteTypeId.invalid && NoteTypeId.touched'>
        <div class='ui-grid-col-1 nsg-primary-color nsg-text-right'><label for='NoteTypeId'>Type:</label></div>
        <div class='ui-grid-col-8 ui-inputtext'>
          <p-dropdown id='NoteTypeId' name='NoteTypeId' [options]='networkIncident.noteTypes'
            (onChange)='onTypeIdDropdownChanged( $event.value )' [style]="{'width':'180px'}" #NoteTypeId='ngModel'
            [(ngModel)]='model.NoteTypeId' placeholder='Select a type'></p-dropdown>
        </div>
        <div class='ui-grid-col-2 nsg-alert-color' *ngIf='NoteTypeId.invalid && NoteTypeId.touched'>Required</div>
      </div>
      <div class='ui-grid-row ui-inputgroup' [class.has-error]='Note.invalid && Note.touched'>
        <div class='ui-grid-col-1 nsg-primary-color nsg-text-right'><label for='Note'>Note:</label></div>
        <div class='ui-grid-col-8 ui-inputtext'>
          <textarea id='Note' name='Note' rows='10' cols='52' #Note='ngModel' [(ngModel)]='model.Note' placeholder='Note...'></textarea>
        </div>
        <div class='ui-grid-col-2 nsg-alert-color' *ngIf='Note.invalid && Note.touched'>Required</div>
      </div>
      <div class='ui-grid-row ui-inputgroup'>
        <div class='ui-grid-col-1 nsg-primary-color nsg-text-right'><label for='CreatedDate'>Date:</label></div>
        <div class='ui-grid-col-8 ui-inputtext' id='CreatedDate'>
          {{model.CreatedDate | date: 'MM/dd/yyyy HH:mm'}}
        </div>
      </div>
    </div>
  </form>
  <p-footer>
    <button pButton type='button' (click)='windowClose(true)' class='ui-button-primary' [disabled]='form.invalid' label='Save'></button> &nbsp;
    <button pButton type='button' (click)='windowClose(false)' class='ui-button-secondary' label='Cancel'></button>
  </p-footer>
</p-dialog>
<!-- End of IncidentNote-detail-window.component.html -->
