<!-- NetworkLog-Grid.component.html -->
<div class='nsg-text-left' style='width: 99%;'>
	<p-table #dt id='netLogTable' name='netLogTable' [value]='networkIncident.networkLogs' [totalRecords]='totalRecords'
			expandableRows='true' dataKey='NetworkLogId'
			(onRowSelect)='handleRowSelect($event)' (onRowUnselect)='handleRowUnSelect($event)'
			[(selection)]='selectedLogs' [globalFilterFields]="['IPAddress']">
		<ng-template pTemplate='header'>
			<tr>
				<th style='width: 40px;'></th>
				<th style='width: 40px;' *ngIf='!disabled'></th>
				<th style='width: 125px;'>IP Address</th>
				<th style='width: 55px;'>Date</th>
				<th style='width: 50px;'>Type</th>
				<th>Log</th>
				<th style='width: 58px;' *ngIf='!disabled'></th>
			</tr>
		</ng-template>
		<ng-template pTemplate='body' let-rowData let-columns='columns' let-expanded='expanded'>
			<tr [pSelectableRow]='rowData'>
				<td>
					<a href='#' [pRowToggler]='rowData'>
						<i [ngClass]='expanded ? "pi pi-fw pi-chevron-circle-down" : "pi pi-pw pi-chevron-circle-right"' style='font-size: 1.25em'></i>
					</a>
				</td>
				<td *ngIf='!disabled'>
					<p-tableCheckbox [value]='rowData'></p-tableCheckbox>
				</td>
				<td>{{rowData['IPAddress']}}</td>
				<td>
					{{rowData["NetworkLogDate"] | date: 'MM/dd'}}
				</td>
				<td>{{rowData['IncidentTypeShortDesc']}}</td>
				<td>{{rowData['Log'] | truncate: 20: '...' }}</td>
				<td *ngIf='!disabled'>
					<button (click)="deleteItemClicked( rowData )" pButton type="button" icon="pi pi-trash" class="p-button-danger"></button>
				</td>
			</tr>
		</ng-template>
		<ng-template let-networklog pTemplate='rowexpansion'>
			<tr><td [(attr.colspan)]='expansionColSpan'>
				<div>
					<div class='row'>
						<div class='col-lg-2 col-md-3 col-sm-12 nsg-primary-color nsg-text-right'><label for='NetworkLogId'>Network Log Id:&nbsp;</label></div>
						<div class='col-lg-9 col-md-9 col-sm-12' id='NetworkLogId'>{{networklog.NetworkLogId}}</div>
					</div>
					<div class='row'>
						<div class='col-lg-2 col-md-3 col-sm-12 nsg-primary-color nsg-text-right'><label for='ServerId'>Server Id:&nbsp;</label></div>
						<div class='col-lg-9 col-md-9 col-sm-12' id='ServerId'>{{networklog.ServerId}}</div>
					</div>
					<div class='row'>
						<div class='col-lg-2 col-md-3 col-sm-12 nsg-primary-color nsg-text-right'><label for='IncidentId'>Incident Id:&nbsp;</label></div>
						<div class='col-lg-9 col-md-9 col-sm-12' id='IncidentId'>{{networklog.IncidentId}}</div>
					</div>
					<div class='row'>
						<div class='col-lg-2 col-md-3 col-sm-12 nsg-primary-color nsg-text-right'><label for='IPAddress'>IP Address:&nbsp;</label></div>
						<div class='col-lg-9 col-md-9 col-sm-12' id='IPAddress'>{{networklog.IPAddress}}</div>
					</div>
					<div class='row'>
						<div class='col-lg-2 col-md-3 col-sm-12 nsg-primary-color nsg-text-right'><label for='NetworkLogDate'>Log Date:&nbsp;</label></div>
						<div class='col-lg-9 col-md-9 col-sm-12' id='NetworkLogDate'>{{networklog.NetworkLogDate | date: 'yyyy-MM-dd HH:mm:ss'}}</div>
					</div>
					<div class='row'>
						<div class='col-lg-2 col-md-3 col-sm-12 nsg-primary-color nsg-text-right'><label for='IncidentTypeId'>Type:&nbsp;</label></div>
						<div class='col-lg-9 col-md-9 col-sm-12' id='IncidentTypeId'> {{networklog.IncidentTypeShortDesc}} ({{networklog.IncidentTypeId}})</div>
					</div>
					<div class='row'>
						<div class='col-lg-2 col-md-3 col-sm-12 nsg-primary-color nsg-text-right'><label for='Log'>Log:&nbsp;</label></div>
						<div class='col-lg-9 col-md-9 col-sm-12' id='Log'>{{networklog.Log}}</div>
					</div>
				</div>
			</td><tr>
		</ng-template>
	</p-table>
</div>
<!-- End of NetworkLog-Grid.component.html -->
