<!-- Server-detail-window.component.html -->
<p-dialog id='serverSelectionWindow' name='serverSelectionWindow'
    [(visible)]='displayWin' modal='modal' width='500' [closeOnEscape]='false' [closable]='false'>
  <p-header class='nsg-primary-color'>
    Select a server
  </p-header>
  <h5 *ngIf='model === undefined'>Loading ...</h5>
  <div *ngIf='model != undefined'>
    <div class='nsg-primary-color nsg-bold'>
      <div *ngFor='let item of model'>
        <input type='radio' [name]='item.value' (change)='serverSelected( $event, item.value )'>
        <label for='{{item.label}}'>{{item.label}} ({{item.value}})</label>
        <br/>
      </div>
    </div>
  </div>
  <p-footer>&nbsp;</p-footer>
</p-dialog>
<!-- End of Server-detail-window.component.html -->
